body {
    margin:0
}

.div1, .div2 {
    height: 100vh
}

.div1 {
    background-color: aqua;
}

.div2 {
    background-color: pink;
}

.square {
    width: 150px;
    height: 150px;
    background-color: blue;
}

.square2 {
    margin-top: 200px;
    width: 150px;
    height: 150px;
    background-color: purple;
}